PORT=8080
JWT_SECRET=secretocoder
MONGODB_URL=ponga_su_URL_aqui // mongodb+srv://maxicuello:lucia2014@codercluster.cixh9.mongodb.net/?retryWrites=true&w=majority&appName=CoderCluster
EMAIL_USERNAME=email_de_la_cuenta
EMAIL_PASSWORD=_contraseña_del_mail // usar contraseña de aplicaciones de google
