<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>

</head>

<body>

    <div class="container">
        
        <h1>Bienvenido, {{user.first_name}} {{user.last_name}}</h1>

        <div class="profile">

            <p><strong>Correo Electrónico:</strong> {{user.email}}</p>
            <p><strong>Edad:</strong> {{user.age}}</p>

        </div>

        <form action="/auth/logout" method="GET">
            <button type="submit" class="btn">Cerrar Sesión</button>
        </form>

        
    </div>

</body>
</html>
